* {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #001d31;
}


.inline-block {
  background-color: #001d31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 10; 
  position: relative; 
  font-size: 18px;
  outline: 1px solid red;
 }

.logo-img {
  width: 20%;
  height: auto;
  margin-right: 2%;
  border-radius: 100%;
 }

.logo {
  display: flex;
  align-items: center;
 }

.nav-button-sub-container {
 display: flex;
 }

.herocontent {
  padding: 15%;
  outline: 1px solid red;
  text-align: center;  
  background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8b2NlYW58ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 5%;
} 

h1 {
  font-size: 64px;
  font-family:fantasy;
}

h2 {
  font-size: 36px;
}

.Work {
 outline: 1px solid red;
 width: 50%;
 display: flex;
 flex-direction: column;  
 text-align: center;
 padding: 20px;
 margin: auto; 
 margin-block-start: 10px;
 margin-block-end: 10px;   
}

.parent {
  display: grid;
  margin: 0px 5%;
  grid-gap: 10px;
  grid-template-rows: 300px,300px,300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "mountain mountain2 cococaybeach"
  "Haitimountain cruiseshipdeck mydog"
  "mycat cruisingship shipwindow"
  ;
  
}

.notWork {
   width: 50%;
   display: flex;
   flex-direction: column; 
   justify-content: space between;
   align-items: center; 
   text-align: center;
   padding: 30px;
   margin-bottom: 15%; 
   margin: auto;
  outline: 1px solid red;
}

button {
  background-color: transparent;
  color: white;
  outline: 2px solid white;
  margin: auto;
  margin-bottom: 10%;
  height: 40px;
  width: 30%;
}
.footer {
  outline: 1px solid red;
  margin-top: 10%;
  align-items: center; 
  text-align: center;
  font-size: 24px;
  background-image: url(https://images.unsplash.com/photo-1559825481-12a05cc00344?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8b2NlYW58ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 10%;
}

.get {
  font-size: 35px;
  font-style: fenix;
}

footer ul {
   outline: 1px solid red;
   display: flex;
   justify-content: space-between;
    
 }


@media only screen and (max-width: 600px) {
  .parent {
   flex-direction: column;
   grid-template-rows: 300px, 300px, 300px, 300px, 300px;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 
   "mountain mountain2"
   "cococaybeach Haitimountain"
   "cruiseshipdeck mydog"
   "mycat cruisingship"
   "shipwindow shipwindow";
}}